.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 80px 60px 80px;
  box-sizing: border-box;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.footer__logo {
  width: 105px;
  height: 39px;
}

.footer__social-heading {
  display: flex;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: 0;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}

.footer__list {
  list-style-type: normal;
  margin: 0;
  padding: 0;
}

.footer__list-item {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
}

.footer__list-item:last-child {
  margin-bottom: 0;
}

.footer__social-icon {
  font-size: 6px;
  line-height: 20px;
  opacity: 100%;
  color: #fff;
  font-style: normal;
  align-items: center;
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
  margin-right: 10px;
}

.footer__social-icon {
  color: #c1c1c1;
}

.footer__social-link {
  color: #fff;
  display: flex;
}

.footer__social-link:hover {
  transition: color 0.4s ease-in-out;
}

.footer__copyright {
  font-weight: normal;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin: 108px 0 0;
}
