.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__checkbox {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.form__input {
  display: block;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
  height: 60px;
  border: 1px solid;
  font-size: 20px;
  line-height: 20px;
}

.form__button {
  width: 100%;
  padding: 12px;
  height: 60px;
  margin-bottom: 32px;
  background-color: #2f80ed;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  transition: opacity 1s;
  border: 0;
}

.form__button:hover {
  opacity: 70%;
}
